workflows/THESIS_Enhanced_FailureAware_HTTP.json
{
  "name": "THESIS_Enhanced_FailureAware_HTTP",
  "nodes": [
    {
      "parameters": {
        "url": "http://httpbin/status/500",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        96
      ],
      "id": "eb558fea-e9d5-44b4-acb7-d899ac2b4199",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        96
      ],
      "id": "e116d54f-ac5e-4016-8ca3-4249da31f928",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b65703d3-e47f-4d2b-b0d1-18ac58564960",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        96
      ],
      "id": "acfdfe77-9874-4101-bd60-35430d905138",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57d08b3b-79b6-4ee3-b317-ee5c056c6156",
              "name": "workflow_name",
              "value": "THESIS_Enhanced_FailureAware_HTTP",
              "type": "string"
            },
            {
              "id": "8518bc27-ced6-49d4-a6b2-235bfc2a4673",
              "name": "variant",
              "value": "failure-aware",
              "type": "string"
            },
            {
              "id": "ec93ddc8-3f94-4525-9eb2-8ee98c9d8202",
              "name": "scenario",
              "value": "http_500",
              "type": "string"
            },
            {
              "id": "f0996014-4de9-4185-985d-714b43be9748",
              "name": "attempt_count",
              "value": "1",
              "type": "string"
            },
            {
              "id": "255df24a-c30e-4b16-8fd9-47288dfb2614",
              "name": "=start_time",
              "value": "={{$now.toISO()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        96
      ],
      "id": "20cd1c5d-45bf-45e3-a090-fca7861afce1",
      "name": "Set Metadata"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        96
      ],
      "id": "1b763447-0b68-4c11-b97b-503b48ac0f79",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c06b4373-ee21-4fd7-8727-12462cf96926",
              "name": "status",
              "value": "failure",
              "type": "string"
            },
            {
              "id": "ae4faa92-2444-48ee-b915-207bb90cccd2",
              "name": "=http_code",
              "value": "={{$json.statusCode}}",
              "type": "string"
            },
            {
              "id": "77d2a505-7f7a-4a57-b1ed-402a95801824",
              "name": "=error_message",
              "value": "={{$json.statusMessage}}",
              "type": "string"
            },
            {
              "id": "41637d89-252c-48ff-881d-531d72b8cae9",
              "name": "=timestamp",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "id": "1122edb7-8712-4d5a-bbae-33de0c7da1f9",
              "name": "end_time",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "id": "b723aac1-7067-4109-ae27-63f438c78ea8",
              "name": "start_time",
              "value": "={{$(\"Set Metadata\").item.json.start_time}}",
              "type": "string"
            },
            {
              "id": "076bfd7d-7d86-416f-992e-3bcaaa7a406d",
              "name": "workflow_name",
              "value": "={{$(\"Set Metadata\").item.json.workflow_name}}",
              "type": "string"
            },
            {
              "id": "5997d4c8-ec42-4965-9fa5-7bb039fba5e0",
              "name": "variant",
              "value": "={{$(\"Set Metadata\").item.json.variant}}",
              "type": "string"
            },
            {
              "id": "a9cee237-5aa7-47e4-ba7f-dd0eba8bbafa",
              "name": "scenario",
              "value": "={{$(\"Set Metadata\").item.json.scenario}}",
              "type": "string"
            },
            {
              "id": "0bbb6f4b-ab39-4ba0-9542-a349179ee1e2",
              "name": "attempt_count",
              "value": "={{$(\"Set Metadata\").item.json.attempt_count}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "a59e0860-900c-4661-987c-2f044fe3907b",
      "name": "FAILURE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5ae67d2-ef9e-432f-b1b0-63fb51632b53",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "03ad4557-cdfb-4606-8b0b-11626c6cfdc0",
              "name": "http_code",
              "value": "={{$json.statusCode}}",
              "type": "string"
            },
            {
              "id": "8e61cc38-ad02-4f60-9ba4-211df956eff7",
              "name": "=error_message",
              "value": "={{\"\"}}",
              "type": "string"
            },
            {
              "id": "18ca486c-68e6-4c87-9b33-6e6d64e71626",
              "name": "start_time",
              "value": "={{$(\"Set Metadata\").item.json.start_time}}",
              "type": "string"
            },
            {
              "id": "fe9a4f63-10b8-4def-8f05-f7a97bccc8f2",
              "name": "end_time",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "id": "338295c3-2e1e-47a9-aea6-3f73ac8fba18",
              "name": "timestamp",
              "value": "={{$now.toISO()}}",
              "type": "string"
            },
            {
              "id": "237d8f57-5e9d-4065-9dc5-cff06ae76a4c",
              "name": "=workflow_name",
              "value": "={{$(\"Set Metadata\").item.json.workflow_name}}",
              "type": "string"
            },
            {
              "id": "dc6457ce-d73d-4c36-b4cd-98394ad5233f",
              "name": "=variant",
              "value": "={{$(\"Set Metadata\").item.json.variant}}",
              "type": "string"
            },
            {
              "id": "071eb02d-30ec-45c8-9579-11d801455e41",
              "name": "=scenario",
              "value": "={{$(\"Set Metadata\").item.json.scenario}}",
              "type": "string"
            },
            {
              "id": "19daa337-eb88-4fbe-a944-ff3e08fc0c6c",
              "name": "attempt_count",
              "value": "={{$(\"Set Metadata\").item.json.attempt_count}}",
              "type": "string"
            },
            {
              "id": "f7ac92c1-fbf1-4055-8572-c447d701abaf",
              "name": "start_time",
              "value": "={{$(\"Set Metadata\").item.json.start_time}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ],
      "id": "dc1e960e-ee06-40ec-adef-29246dbcc4fd",
      "name": "SUCCESS"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst start = new Date($json.start_time);\nconst end = new Date($json.end_time);\n\nconst duration_ms = end.getTime() - start.getTime();\n\nreturn {\n  json: {\n    ...$json,\n    http_code: Number($json.http_code),\n    attempt_count: Number($json.attempt_count),\n    duration_ms: Number(duration_ms),\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        96
      ],
      "id": "12309508-3272-4631-8b0e-149e6df49a73",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "34144bb6-fd31-80f0-8552-ffb164de46f5",
          "mode": "list",
          "cachedResultName": "Logs (1)",
          "cachedResultUrl": "https://www.notion.so/34144bb6fd3180f08552ffb164de46f5"
        },
        "title": "Logs",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "workflow_name|title",
              "title": "={{$json.workflow_name}}"
            },
            {
              "key": "timestamp|date",
              "date": "={{$json.timestamp}}"
            },
            {
              "key": "variant|rich_text",
              "textContent": "={{$json.variant}}"
            },
            {
              "key": "scenario|rich_text",
              "textContent": "={{$json.scenario}}"
            },
            {
              "key": "status|rich_text",
              "textContent": "={{$json.status}}"
            },
            {
              "key": "http_code|number",
              "numberValue": "={{$json.http_code}}"
            },
            {
              "key": "attempt_count|number",
              "numberValue": "={{$json.attempt_count}}"
            },
            {
              "key": "duration_ms|number",
              "numberValue": "={{$json.duration_ms}}"
            },
            {
              "key": "error_message|rich_text",
              "textContent": "={{$json.error_message}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        592,
        96
      ],
      "id": "849790e9-4d85-4ca4-9168-be16014d91bf",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "PlZ9KgCBmd7irSeJ",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "FAILURE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SUCCESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadata": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAILURE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUCCESS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "089db298-d154-4d0d-ae61-1e34bc99fee1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a4dd6b3a0e2445dc708279a530db8052cf0d81a8baa1992e01a8cfe046a1342"
  },
  "id": "jY1F6LQv94yvVq7t",
  "tags": []
}